:root {
   /* Background */
  --bg-base: rgb(228, 211, 189);
  --bg-elevated: rgb(255, 249, 241);
  --bg-highlight: rgb(254, 161, 59);
  --bg-select: rgb(210, 139, 87);

   /* Text */
   --t-primary: rgb(12, 24, 35);
   --t-secondary: rgb(155, 144, 147);

   /* Accent */
   --ac-primary: rgb(240, 224, 207);
   --ac-secondary: rgb(30, 31, 31;)
}



/* ::selection { background-color: var(--ac-primary); color: var(--t-highlight);  } */

* { box-sizing: border-box; padding: 0; margin: 0; }
html, body { max-width: 100vw}
body { color: var(--t-primary); background: var(--bg-base); contain: paint; width: 99.61vw;}
a { color: inherit; text-decoration: none; }
p, h1, h2, h3, h4 {cursor: default;}
button { background: transparent; border: none; outline: none; cursor: pointer; }
html::-webkit-scrollbar { width: .4vw; background-color: var(--bg-elevated); max-width: .4vw; }
html::-webkit-scrollbar-thumb { background-color: var(--ac-primary); border-radius: 5px; transition: .7s; }
img { user-drag: none; -webkit-user-drag: none; user-select: none; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; }


* {-webkit-tap-highlight-color: rgba(0, 0, 0, 0)}
